.job-list1 {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  background-color: #000; /* Set the background color to black */
  color: white; /* Set the text color to white */
  padding: 20px;
 }

.service-card1 {
  background-Color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(47% - 0px);
  overflow: hidden;
  overflow-y: auto;
  height: 280px;
  border: 1px solid rgba(255, 255, 255, 0.222);
  backdrop-Filter: blur(20px);
  border-Radius: .7rem;
  transition: all ease .3s;
  justify-Content: space-between;
&:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}}






.service-cards1 {
  background-color: #33333300;
  max-width: 99.5%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  height: auto;
  
}

.service-card1 h2{
  color: #ffffff;
}

.service-card1 h3{
  color: #000;
}

.jobs1 {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.job-card1 {
  background-color: #cccccc9e;
  color: #000;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px); 
  overflow: hidden;
  overflow-y: auto;
  margin-left: 3px;
}

.job-card1:hover {
  background-color: #ffffff; 
  color: #000; 
  transition: background-color 0.3s ease; 
}

.job-card1-content1 {
  display: flex;
  justify-content: space-between; 
}



.job-card1 h4 {
  margin: 0;
  color: white;
}

.job-card1 p {
  margin: 5px 0;
}
 
.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}
.notice {
  text-align: center;
}
