/* AppointmentsTable.css */

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  padding: 40px;
  background-color: #cccccc9e;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
}

.appointments-table th,
.appointments-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.appointments-table th {
  background-color: #f2f2f2;
}

.appointments-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.appointments-table tr:hover {
  background-color: #e2e2e2;
}

.appointments-table button {
  padding: 4px 8px;
  cursor: pointer;
}

/* Add any additional styles as needed */
