
.job-list {
    width: 100%;
    margin: 0 auto;
    background-color: #cccccc9e;
    color: black;
  }
  
  .job-list h2 {
    margin-bottom: 10px;
  }
  
  .job-list button {
    margin-bottom: 10px;
  }
  
  .job-list form div {
   
    margin-bottom: 10px;
  }
  
  .job-list label {
    display: flex;
  }
  
  .job-list input {
    width: 92%;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    border-color: #ffffff9f;
      }
  
  .job-list button[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .job-list ul {
    list-style: none;
    padding: 0;
  }
  
  .job-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 0px solid #ccc;
    padding: 5px 0;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .job-list li:last-child {
    border-bottom: none;
  }
  .success-message {
    color: green;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .job-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .job-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(30.33% - 15px); 
  }
  
  .job-card h3 {
    margin: 0;
    color: #333;
  }
  
  .job-card p {
    margin: 5px 0;
  }

  .job-list button {
    cursor: pointer;
    padding: 8px 15px; 
    margin-right: 10px; 
    border: none;
    background-color: red;
    color: #fff;
  }
  